.add-board-form {
    display: flex;
    flex-direction: column;
}

.buttons-container {
    display: flex;
    flex-direction: row;
}

.buttons-container > button:nth-child(2) {
    margin-left: 1rem;
}

.radio-container {
    display: flex;
    align-content: center;
    align-items: center;
    height: 4rem;
}
  
  .radio-margin {
    margin: 0 10px;
  }