<form #addCardForm="ngForm" (ngSubmit)="addCard()" class="add-card-form" autocomplete="off">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input name="title" [(ngModel)]="model.title" matInput required placeholder="Title">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input name="description" [(ngModel)]="model.description" matInput required placeholder="Description">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
    <div class="buttons-container">
      <button [disabled]="!model.title || !model.description" mat-raised-button type="submit" color="primary" aria-label="Add Card">
        Add Card
      </button>
      <button mat-raised-button [mat-dialog-close]="true" color="warn">Cancel</button>
    </div>
  </form>